CONFIG_PREEMPT_RT_FULL=y
CONFIG_HZ_1000=y
CONFIG_HIGH_RES_TIMERS=y
CONFIG_PREEMPTIRQ_EVENTS=y
CONFIG_LOCKDEP_SUPPORT=y
CONFIG_DEBUG_LOCK_ALLOC=y
CONFIG_RCU_NOCB_CPU=y
CONFIG_RCU_NOCB_CPU_DEFAULT=y
CONFIG_PREEMPT_NOTIFIERS=y
CONFIG_TRACE_IRQFLAGS_SUPPORT=y
CONFIG_DEBUG_PREEMPT=y
CONFIG_DEBUG_SPINLOCK=y
CONFIG_DEBUG_MUTEXES=y
CONFIG_DEBUG_RWSEMS=y
CONFIG_DEBUG_ATOMIC_SLEEP=y
CONFIG_DEBUG_OBJECTS_RCU_HEAD=y
CONFIG_DEBUG_OBJECTS=y
CONFIG_DEBUG_OBJECTS_FREE=y
CONFIG_DEBUG_OBJECTS_LEAKAGE=y
CONFIG_SCHED_STACK_END_CHECK=y
CONFIG_TIMER_STATS=y
CONFIG_SCHED_INFO=y
CONFIG_SCHED_DEBUG=y
CONFIG_SCHED_DEADLINE=y
CONFIG_PREEMPTION=y
CONFIG_PREEMPT_COUNT=y
CONFIG_PREEMPT=y
CONFIG_SMP=y
CONFIG_TICK_ONESHOT=y
CONFIG_NO_HZ_FULL=y
CONFIG_IRQ_TIME_ACCOUNTING=y

CONFIG_BRCMFMAC=y
CONFIG_BRCMFMAC_SDIO=y
CONFIG_CFG80211=y
CONFIG_MAC80211=y
CONFIG_WLAN=y
CONFIG_WLAN_BRCM=y
CONFIG_WIRELESS=y
CONFIG_WPA_SUPPLICANT=y

CONFIG_BCM2709_DT=y
CONFIG_ARM64=y
CONFIG_ARCH_BCM2835_CPUFREQ=y
CONFIG_BCM2835_MBOX=y

CONFIG_SERIAL_AMBA_PL011=y
CONFIG_SERIAL_AMBA_PL011_CONSOLE=y
CONFIG_HW_RANDOM_BCM2835=y