[Unit]
Description=WiFi connection for wlan0
After=network.target
Wants=network.target

[Service]
Type=simple
ExecStart=/sbin/wpa_supplicant -i wlan0 -c /etc/wpa_supplicant/wpa_supplicant-wlan0.conf -D nl80211,wext
Restart=on-failure

[Install]
WantedBy=multi-user.target
