[Unit]
Description=Raw socket RT sender
After=network.target

[Service]
Type=simple
ExecStart=/usr/bin/raw-sender eth0
CPUSchedulePolicy=fifo
CPUSchedulePriority=90
Restart=on-failure

[Install]
WantedBy=multi-user.target
