# CI/CD Workflow
```yaml
name: Yocto PREEMPT_RT Build

on:
  push:
    branches:
      - main
      - dev
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-24.04

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          submodules: recursive
      - name : Install Dependencies
        run: |
          sudo apt-get update
          sudo apt-get install -y gawk wget git-core diffstat unzip texinfo gcc-multilib \
          build-essential chrpath socat cpio python3 python3-pip python3-pexpect xz-utils \
          debianutils iputils-ping libsdl1.2-dev xterm autoconf libtool libglib2.0-dev \
          libarchive-dev bc u-boot-tools libncurses5-dev libncursesw5-dev zstd liblz4-tool \
          libssl-dev flex bison python3-jinja2 libegl1-mesa pylint3 \
          python3-subunit mesa-common-dev zstd python3-yaml python3-distro \
          pip install --upgrade pip
          pip install kas
      - name: Build Yocto Image
        run: |
          kas build kas/firmware.yml
      - name: Upload Artifacts
        uses: actions/upload-artifact@v3
        with:
          name: yocto-preempt-rt-build
          path: .build/tmp/deploy/images/raspberrypi0-2w/*.rpi-sdimg
